<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<form method="POST" action="/createUser">
    <input type="text" name="name" placeholder="Name">
    
    <input type="text" name="flightNumber" placeholder="Flight number">
    
    <input type="text" name="seat" placeholder="Seat number">
    <button type="submit">Submit</button>
</form>