<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel='stylesheet' href='/css/materialize.min.css' />
    <link rel='stylesheet' href='/css/custom.css' />
  </head>
  <body>
  
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Get a ticket</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/">Get a ticket</a></li>
    <li><a href="/admin">Admin</a></li>
  </ul>
  <main>
    {{{body}}}
    </main>
    <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            © 2018 Vito & z'n vader
           
            </div>
          </div>
        </footer>
        <script src="/js/materialize.min.js"></script>
        <script>
          document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
          });
        </script>
  </body>
</html>
